---
foreman:
  dev:
    server: "ipa1.dev.domain.tld"
    username: "devusername"
    password: "devpassword"
  qa:
    server: "ipa1.qa.domain.tld"
    username: "qausername"
    password: "qapassword"
  prod:
    server: "ipa1.prod.domain.tld"
    username: "produsername"
    password: "prodpassword"
